/*#sidebar{
	width:20%;
	min-width: 200px;
	float:right;
	height:30%;
}
*/

 #scrollingsection{
 	overflow: scroll;
 	height:400px;
 	/*width:20%;
	min-width: 200px;
	float:right;
	height:70%;*/
 }
/*
#sidecard {
	padding:10px;
	overflow-y: scroll;
}

.input-container {
    width:97px;
    height:20px;
}

button{
	float:right;
}
*/
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

#map { 
	height: 100%; 
}

@media (min-width: 600px) {
 	#sidebar{
  		font-size: x-large;
  	}
  	#scrollingsection{
  		font-size: x-large;
  	}
  	h1{
  		font-size: 2em;
  	}
}

@media (max-width: 1303px){
	h1{
		font-size: 1.5em;
	}
}

sub{
	font-size: .5em;
}

#filteroption{
	font-weight: bold;
	font-size: 0.5em;
}

.rowe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

