body {
    background-color: #ff877a;
}

.scrollingsection {
    overflow-y: scroll;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
    font-size: large;
    background-color: #ff877a;
}

.sidecard:hover {
    background-color: #7ad9ff;
}

.sidecard {
    padding: 5px;
    border: #808080 1px solid;
    border-radius: 5px;
    background-color: #C6F9FF;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

@media (max-width:767px) {
    .scrollingsection {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 200px;
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 5px;
        border: 2px solid #555555;
    }

    input[type='checkbox']:checked {
        background: #aabbdd;
    }

    h1 {
        font-size: x-large;
    };
}

@media (min-width: 600px) {
    .sidebar {
        font-size: x-large;
    }

    .scrollingsection {
        font-size: x-large;
    };
}

@media (max-width: 1303px) {
    h1 {
        font-size: 1.5em;
    };
}

#filteroption {
    font-weight: bold;
    font-size: 0.5em;
}

.tipButton {
    border: 1px solid #000000;
    margin: 5px;
    background-color: #47CBD9;
    color: #000000;
}

.tipButton:hover {
    background-color: #c9f0f4;
}


/*~~~~~~~~~~~~~~~SLIDING MENU~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* General styles for all menus */


.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}

.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1em;
    padding: 20px;
    margin: 0;
    font-weight: 100;
    background: #0d77b6;
}

/*CSS rule below is involved with getting the search bar section to line up with scrolling section*/
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 400px;
    height: 30%;
    top: 0;
    z-index: 1000;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-right {
    right: -400px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~EXTRA STYLES FOR SLIDING MENU~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main > section {
    max-width: 260px;
    width: 90%;
}


.main > section button {
    border: none;
    background: #47a3da;
    color: #fff;
    padding: 1.5em;
    width: 100%;
    cursor: pointer;
    float:left;
    font-size: 0.8em;
}

.main > section button:hover {
    background: #258ecd;
}

.main > section button.active {
    background: #0d77b6;
}

.main > section button.disabled {
    background: #aaa;
    pointer-events: none;
}

